[user]
	name = Murillo
	email = murillo.bianconi@gmail.com
[core]
	#editor = code --wait
	editor = vim
	autocrlf = input
[merge]
	tool = code
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
