[user]
	name = mcbianconi
	email = murillo.bianconi@gmail.com
[core]
	editor = code --wait
	autocrlf = input
[merge]
	tool = code
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff
